.sub{
    width: 32em;
    height: 1000px;
    background: lightpink;
    float: left;
}

.Chatbot{
    width: 550px;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    background: wheat;
}


