.K_header{
    height: 30rem;
    overflow: hidden;
}

.F_big_content{
    width: 600vw;
    overflow: hidden;
}

.F_city-list{
    width: 100vw;
    float: left;
    transition: transform 0.5s;
}

.city-item {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0 auto;

}


.content{
    display: inline-block;
    border: 1px solid lightgray;
    width: 400px;
    padding: 20px;
    background: white;
    margin: 20px 10px;
}

/*.slide-in {*/
/*    opacity: 1; !* 슬라이드 인 상태에서는 불투명하게 설정 *!*/
/*}*/

/*.slide-out {*/
/*    opacity: 0; !* 슬라이드 아웃 상태에서는 투명하게 설정 *!*/
/*}*/


.Chatbot{
    width: 550px;
    height: 300px;
    max-height: 400px;
    overflow-y: auto;
    background: lightpink;
}


