.sub {
    width: 250px;
    position: fixed;
    right: 50px;
    top: 120px;
    z-index: 99;
    background: #fff;
    padding: 20px;
}
.widget-header { border-bottom: 1px solid #eee; }
.widget-section {
    font-size: 0.8em;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table { width: 100%; }

.Chatbot {
    width: 80px;
    height: 80px;
    line-height: 76px;
    text-align: center;
    background: #178844;
    border-radius: 100px;
    position: absolute;
    left: 2%;
    bottom: 2%;
    z-index: 999;
    /*transition: transform 0.3s;*/
}
.Chatbot:hover {
    /*transform: translateY(-10px);*/
}
.chat-open-btn {
    background: none;
    border: none;
}

.chat-open-btn svg {
    color: #fff;
    font-size: 55px;
}
.Map {
    width: 100%;
    height: calc(50vh - 35px);
}