/* base style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  overflow: hidden;
}

.bg-body-tertiary {
  z-index: 999;
  height: 70px;
  background: linear-gradient(45deg, #3496fe, #178844 50%);
  color: #fff;
  border-bottom: 1px solid #eee;
}
.bg-body-tertiary svg { font-size: 35px; }
.bg-body-tertiary a { color: #fff; }

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}
.black-nav{
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}
.Modal{
  margin: 20px auto;
  width: 1500px;
  padding: 20px;
  background: skyblue;
  text-align: left;
  border: 2px solid black;
}
.text_box{
  margin: 0 50px;

}
.big_content1{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.korea_box, .foreign_box{
  width: 50%;
  height: 55rem;
  display: inline-block;
  border: 2px solid lightgray;
}
.foreign_box{
  background-image: url("../public/img/play.jpg");
  background-size: inherit;
}
.korea_box{
  background-image: url("../public/img/airport.jpg");
  background-size: inherit;
}


.korea_box h1, .foreign_box h1{
  margin: 40% auto 0;
  justify-content: center;
  text-align: center;
  width: 50%;
  background: linear-gradient(rgba(225,225,225,0.8), rgba(225,225,225,0.8));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
